In [1]:
import pandas as pd

In [8]:
df = pd.read_csv('data/810_841.txt', sep='\t')
df.head(3)

,RUN,Event,Teta,Fi,Nview,NviewCorr,Sdet,Dens,DensCorr,NgoodPMT,NhitPMT,SumNpeGoodCorr,SpecEnDep,NupSCT,NdnSCT
0,810,3336,47.73,197.82,5,5.00226,28.9743,0.100167,0.102477,520,296,4124.71,40250.3,1,1
1,810,14441,43.43,148.71,5,5.00226,26.9756,0.107589,0.110070,520,286,3753.22,34098.6,2,0
2,810,20146,41.20,212.96,5,5.00226,25.6804,0.113015,0.115621,520,307,5342.78,46209.5,2,0